a{
    text-decoration: none;
}
#bgset{
    position: fixed;
    left: 30%;
    
}
table{
    line-height: 2.9rem;
}

#back{
    position: absolute;
    text-decoration: none;
    padding: 0.5rem;
    margin: 2px;
    background-color: cyan;
    color: rgb(12, 12, 12);
}
#href{
    margin-top: 3rem;
    border: 2px solid black;
    width: 30%;
    height: 20%;
border-radius: 18px;
background-color: rgba(74, 216, 197, 0.616);
}
p{
    margin-left: 3rem;
}
body{
    background-image: linear-gradient(to top right,rgb(41, 25, 110),rgb(118, 34, 173));
}
thead{
    background-color: rgb(12, 5, 5);
}
tbody{
    background-color: rgb(148, 131, 131);
}
td,th{
    margin-left: 10px;
}
.a{
    color: antiquewhite;
}