body{
    background-image: url('../images/bg.jpg');
    color: aliceblue;
    background-repeat: no-repeat;
    background-size: cover;

}
form{
    margin-left: 3rem;
}
p{
    font-size: larger;
    font-weight: bolder;
}
input{
    padding: 1rem 3rem 1rem 3rem;
    border-radius: 5rem;

}
button{
    margin-top: 2rem;
    font-size: larger;
    font-weight: bolder;
    background-color: rgb(156, 80, 80);
    color: wheat; 
    border:4px solid rgb(133, 64, 64) ;
    padding: 1rem 3rem 1rem 3rem;
    border-radius: 1rem;
}
button:hover{
    background-color: rgb(196, 140, 140);
    color:rgb(0 43 58);
}