<html>
    <head>
        <title>
            <%=title%>
        </title>
        <link rel="stylesheet" href="/css/admin.css">
        
    </head>
    <body>
        
        <img src="../images/loginbg.jpg" alt="" id="bgim">
        <div><h1>STUDENT MANAGEMENT SYSTEM</h1></div>
        <div id="div1" class="d">
            <img src="../images/teacherlogo.png" alt="TEACHER" id="tentry"><br><br>
            <a href="/login" class="set" target="_blank"><strong>TEACHER</strong></a>
        </div>
        
        <div id="div2" class="d">
            <img src="../images/studentlogo.png" alt="STUDENT" id="sentry"><br><br>
            <a href="/student" class="set" target="_blank"><strong>STUDENT</strong></a>
        </div>
        
    </body>
</html>