<html>
    <head>
        <title><%= title%></title>
        <img src="../images/logoadmin.jpg" alt="">
        <h3>ADMIN</h3>
        <link rel="stylesheet" href="../css/adminlogin.css">
    </head>
    <body>
        
    <div id="div1">
        <div>
            <a href="/admin-stu-login" class="set" target="_blank"><p>VIEW STUDENT</p></a>
        </div>
        <div>
            <a href="/new-stu" class="set" target="_blank"><p>NEW STUDENT ENTRY</p></a>
        </div>
        <div><a href="/home" id="set"><p>HOME</p></a></div>
    </div>
    
    </body>
</html>