<html>
    <head>
        <title>
            <%=title%>
        </title>
        <link rel="stylesheet" href="../css/admin_stu_login.css">
    </head>
    <body>
        <div>
        <a href="/backtoadminlogin">BACK</a></div>
        <form action="stuidvalid" method="post">
            <input type="text" name="stuid" required><br>
            <button type="submit">ENTER</button>
        </form>
    </body>
</html>