<html>
    <head>
        <title>
            <%=title%>
        </title>
    </head>
    <body>
        <form  action="formpost" method="post">
            <input type="text"  name="name" placeholder="name" required><br>
            <input type="number" name="phno" placeholder="phone number" required><br>
            <button type="submit">submit</button>
        </form>
    </body>
</html>