<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width= , initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/marksadminentry.css">
</head>
<body>
    <!-- <button onclick="history.back()">BACK</button> -->
    <form action="markssent" method="post">
       <div>
        <p>STUDENT-ID</p>
        <input type="text" value="0000000" name="nwstid" required>
        <p>SUBJECT </p>
        <input type="text" value="math" name="sub1" required>
        <P>IA1 MARKS</P>
        <input type="text" value="0" name="s1i1" required>
        <P>IA2 MARKS</P>
        <input type="text" value="0" name="s1i2" required>
        <P>IA3 MARKS</P>
        <input type="text" value="0" name="s1i3" required>
        <p>FINAL MARKS</p>
        <input type="text" value="0" name="s1f" required>
       </div>
    <BUtton type="submit">ENTER</BUtton>
    </form>
    
</body>
</html>