<html>
    <head>
        <title><%=title%></title>
        <link rel="stylesheet" href="../css/student.css">
    </head>
    <body>
        <a href="/home">HOME</a>
       <div> 
       
            <form action="stuloginpost" method="post" >
                <p><strong>ENTER USN</strong></p>
                <input type="student_id" name="stuid" placeholder="student_id" required><br>
                <button type="submit"><b>ENTER</b></button>
            </form>
        </div>
    </body>
</html>